DB_HOST=localhost
DB_PORT=5432
DB_USER=fatec_user
DB_PASSWORD=sua_senha_aqui
DB_NAME=autoatendimento_db
JWT_SECRET=troque_por_uma_chave_secreta_forte
JWT_EXPIRES_IN=8h
PORT=3666
# FRONTEND_URL=http://localhost:5173
